<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>Servlets.userLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvacedSearchApp</servlet-name>
        <servlet-class>Servlets.AdvacedSearchApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>Servlets.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveDevelopervalidation</servlet-name>
        <servlet-class>Servlets.saveDevelopervalidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coustomerlogin</servlet-name>
        <servlet-class>Servlets.coustomerlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loard</servlet-name>
        <servlet-class>Servlets.addressdetails.loard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save</servlet-name>
        <servlet-class>Servlets.addressdetails.save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deactive</servlet-name>
        <servlet-class>Servlets.addressdetails.deactive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savestaff</servlet-name>
        <servlet-class>Servlets.savestaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savedeveloper</servlet-name>
        <servlet-class>Servlets.savedeveloper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>Servlets.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loardcat</servlet-name>
        <servlet-class>Servlets.loardcat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savecat</servlet-name>
        <servlet-class>Servlets.savecat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteHitsCounter</servlet-name>
        <servlet-class>Servlets.SiteHitsCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frogetpasssendmail</servlet-name>
        <servlet-class>Servlets.frogetpasssendmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveuser</servlet-name>
        <servlet-class>Servlets.saveuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocart</servlet-name>
        <servlet-class>Servlets.addtocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removecart</servlet-name>
        <servlet-class>Servlets.removecart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtowishlist</servlet-name>
        <servlet-class>Servlets.addtowishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removewishlist</servlet-name>
        <servlet-class>Servlets.removewishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatecustomerdata</servlet-name>
        <servlet-class>Servlets.updatecustomerdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepassword</servlet-name>
        <servlet-class>Servlets.changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeprofileimage</servlet-name>
        <servlet-class>Servlets.changeprofileimage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deactivecategory</servlet-name>
        <servlet-class>Servlets.deactivecategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savestaff</servlet-name>
        <url-pattern>/savestaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savedeveloper</servlet-name>
        <url-pattern>/savedeveloper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvacedSearchApp</servlet-name>
        <url-pattern>/AdvacedSearchApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveDevelopervalidation</servlet-name>
        <url-pattern>/saveDevelopervalidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coustomerlogin</servlet-name>
        <url-pattern>/coustomerlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loard</servlet-name>
        <url-pattern>/loard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deactive</servlet-name>
        <url-pattern>/deactive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loardcat</servlet-name>
        <url-pattern>/loardcat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savecat</servlet-name>
        <url-pattern>/savecat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteHitsCounter</servlet-name>
        <url-pattern>/SiteHitsCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frogetpasssendmail</servlet-name>
        <url-pattern>/frogetpasssendmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveuser</servlet-name>
        <url-pattern>/saveuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removecart</servlet-name>
        <url-pattern>/removecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtowishlist</servlet-name>
        <url-pattern>/addtowishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removewishlist</servlet-name>
        <url-pattern>/removewishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatecustomerdata</servlet-name>
        <url-pattern>/updatecustomerdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeprofileimage</servlet-name>
        <url-pattern>/changeprofileimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deactivecategory</servlet-name>
        <url-pattern>/deactivecategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error/system_404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/system_500.jsp</location>
    </error-page>
    <filter>
        <filter-name>SiteHitsCounter</filter-name>
        <filter-class>Servlets.SiteHitsCounter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SiteHitsCounter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         c:\apache-tomcat-5.5.29\webapps\data\
     </param-value>
    </context-param>
</web-app>
